<label>Student Name:</label><br>
<%= text_field_tag :name %><br>

<label>Student Hometown</label><br>
<%= text_area_tag :hometown %><br>

<label>Student Birthday</label><br>
<%= text_area_tag :birthday %><br>

<%= submit_tag "Submit Student" %>
